.center{
	text-align: center;
}

.change-themes-list .active{
	font-weight: bold;
}

.strong{
	font-weight: bold;
}

/* Modal outline fix */
*:focus,
a:focus{
	outline: none;
}

body {
	padding-top: 0px;
	padding-bottom: 0px;
}

.error-message {
	color: #B94A48;
	
/*	margin-left: 180px;
	float: left; */
}

@
-webkit-keyframes ajax-loader-rotate { 0% {
	-webkit-transform: rotate(0deg);
}

100%
{
-webkit-transform
:
 
rotate
(360deg);
 
}
}
@
-moz-keyframes ajax-loader-rotate { 0% {
	transform: rotate(0deg);
}

100%
{
transform
:
 
rotate
(360deg);
 
}
}
@
keyframes ajax-loader-rotate { 0% {
	transform: rotate(0deg);
}

100%
{
transform
:
 
rotate
(360deg);
 
}
}
.ajax-loader {
	opacity: .8;
	display: block;
	border-radius: 50%;
	font-size: 29px;
	width: .25em;
	height: .25em;
	box-shadow: 0 -.4em 0 0 rgba(0, 0, 0, 1), -.28em -.28em 0 0
		rgba(0, 0, 0, .75), -.4em 0 0 0 rgba(0, 0, 0, .50), -.28em .28em 0 0
		rgba(0, 0, 0, .25);
	-webkit-animation: .85s ajax-loader-rotate steps(8) infinite;
	-moz-animation: .85s ajax-loader-rotate steps(8) infinite;
	animation: .85s ajax-loader-rotate steps(8) infinite;
}

#ajax-loader {
	background-color: #666;
	height: 8px;
	opacity: 0.7;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 70px;
	width: 50px;
	z-index: 100;
	display: none;
}

.gMap img {
	max-width: none!important;
}

.gMap label {
	width: auto!important;
	display: inline!important;
}

.content{
	margin-left:0;
}

.mandatory{
	color: red;
}